<ng-container *ngIf="data.isDelete">
  <h1 mat-dialog-title>Delete Employee Details</h1>
  <div mat-dialog-content>
    <p>Employee ID</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.emp_id">
    </mat-form-field>
  </div>
</ng-container>
<ng-container *ngIf="!data.isDelete">
  <h1 mat-dialog-title>Add Employee Details</h1>
  <div mat-dialog-content>
    <p>Employee ID</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.emp_id">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Employee Name</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.emp_name">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Asset Type</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.asset_type">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Asset ID</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.asset_id">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Floor Number</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.floor_num">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Seat Number</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.seat_num">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Source Project</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.source_prjct">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Team Name</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.team_name">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>Multitagged Asset ID</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.multitagged_asset_id">
    </mat-form-field>
  </div>
  <div mat-dialog-content>
    <p>ODC</p>
    <mat-form-field>
      <input matInput [(ngModel)]="data.odc">
    </mat-form-field>
  </div>
</ng-container>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirm</button>
</div>